BASE_URL=https://automationexercise.com

CHROME_USERNAME=your_chrome_username
CHROME_PASSWORD=your_chrome_password

FIREFOX_USERNAME=your_firefox_username
FIREFOX_PASSWORD=your_firefox_password

WEBKIT_USERNAME=your_webkit_username
WEBKIT_PASSWORD=your_webkit_password